* {
  background-color: black;
  color: white;
}

body {
  font-family: sans;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  flex-direction: column;
  overflow: scroll;
}

:not(body) {
  margin: 0.2vh;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  width: 100%;
}

.box {
  border: gray solid 1px;
  padding: 1vh;
  margin: 1vh;
}

.small-box {
  border: gray solid 1px;
  padding: 2px;
  margin: 2px;
}

.hlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.vlist {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.flash {
  border: gray dashed 1px;
  padding: 4px;
  margin: 4px;
}

.form-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.clickable {
  text-decoration: none;
}