<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Courses</title>
</head>

<body>
    <h1>Courses</h1>
    <br>
    {% for message in get_flashed_messages() %}
    <div class="flash"> {{ message }} </div>
    {% endfor %}
    <form method="POST" class="hlist">
        {{ search.hidden_tag() }}
        <div class="form-item"> {{ search.query.label }} {{ search.query() }} </div>
        {{ search.submit() }}
    </form>
    <div class="hlist">
        {% for course in courses %}
        <a class="box clickable" href="{{ url_for('course.course_view', id=course.id) }}">
            <h2>{{ course.name }}</h2>
            <div>Description: {{ course.description }}</div>
            <div>Capacity: {{ course.capacity }}</div>
            <div class="hlist">
                Prerequisites:
                {% for prerequisite in course.prerequisites %}
                <div class="small-box">{{ prerequisite.prerequisite }}</div>
                {% endfor %}
            </div>
            <div>
                {% for interval in course.intervals %}
                <div id="course-time-start-{{loop.index}}-{{course.id}}">
                    {{timestamp_to_str(interval.start)}}
                </div>
                <div id="course-time-end-{{loop.index}}-{{course.id}}">
                    {{timestamp_to_str(interval.end)}}
                </div>

                <script>
                    T = (i, t) => document.querySelector(i).innerText = Intl.DateTimeFormat(undefined, { dateStyle: "full", timeStyle: "short" }).format(+t);
                    T("#course-time-start-{{loop.index}}-{{course.id}}", "{{interval.start * 1000}}");
                    T("#course-time-end-{{loop.index}}-{{course.id}}", "{{interval.end * 1000}}");
                </script>
                {% endfor %}
            </div>
        </a>
        {% endfor %}
    </div>
</body>

</html>